<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Зарплатный справочник на базе HH</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    </head>
    
    <body class="bg-light" data-bs-spy="scroll" data-bs-target="tooltip" id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">HH salary parser</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Главная</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('form') }}">Поиск</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('results') }}">Результаты</a></li>                       
                        <li class="nav-item"><a class="nav-link" href="#contacts">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Зарплатный справочник на базе HH</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Парсер умеет получать вакансии с HH и анализировать зарплаты в зависимости от профессиональной роли</p>
                        <a class="btn btn-primary btn-xl" href="#about">Подробнее</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Это то что вам надо!</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Введите название вакансии* и получите раскладку по з/п в Вашем городе!</p>
                        <a class="btn btn-light btn-xl" href="#services">Сомневаетесь?</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Наши преимущества</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Простота</h3>
                            <p class="text-muted mb-0">Вбейте одно слово и получите реультат!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Актуальность</h3>
                            <p class="text-muted mb-0">Запрос в HH в режиме реального времени</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Настроен обход блокировок</h3>
                            <p class="text-muted mb-0">НН не заблокирует вас за парсинг вакансий!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Узнайте самое главное</h3>
                            <p class="text-muted mb-0">Бонусом вы получите ТОП5 запрашиваемых ключевых навыков для выбранной профессии</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Примеры -->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <h2 class="text-center mt-0">Смотрите зарплаты для этих профессий</h2>
                <hr class="divider" />
                <div class="row g-0">
                    <!-- Data Scientist -->
                    <div class="col-lg-4 col-sm-6">
                        <a class="d-block position-relative text-decoration-none" href="results.html?profession=Data Scientist" title="Data Scientist">
                            <img class="img-fluid" src="{{ url_for('static', filename='assets/img/portfolio/thumbnails/Data_csientist.png')}}"" alt="Data Scientist" />
                            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-dark bg-opacity-50 text-white opacity-0 hover-opacity-100">
                                <div>
                                    <div class="fw-light">AI & ML</div>
                                    <div class="fs-5 fw-bold">Data Scientist</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- DS Developer -->
                    <div class="col-lg-4 col-sm-6">
                        <a class="d-block position-relative text-decoration-none" href="results.html?profession=DS Developer" title="DS Developer">
                            <img class="img-fluid" src="{{ url_for('static', filename='assets/img/portfolio/thumbnails/DS developer.png')}}" alt="DS Developer" />
                            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-dark bg-opacity-50 text-white opacity-0 hover-opacity-100">
                                <div>
                                    <div class="fw-light">AI & ML</div>
                                    <div class="fs-5 fw-bold">DS Developer</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- AI Analyst -->
                    <div class="col-lg-4 col-sm-6">
                        <a class="d-block position-relative text-decoration-none" href="results.html?profession=AI Analyst" title="AI Analyst">
                            <img class="img-fluid" src="{{ url_for('static', filename='assets/img/portfolio/thumbnails/AI analyst.png')}}" alt="AI Analyst" />
                            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-dark bg-opacity-50 text-white opacity-0 hover-opacity-100">
                                <div>
                                    <div class="fw-light">AI & ML</div>
                                    <div class="fs-5 fw-bold">AI Analyst</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
        <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Узнайте Вашу будущую зарплату!</h2>
                <a class="btn btn-light btn-xl" href="{{ url_for('form') }}">Получить сводку!</a>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Познакомимся!</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Свяжитесь с нами, чтобы получить персональное предложение по вашему проекту в области ИИ и нейросотрудников для бизнеса!</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Ваше имя</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Имя обязательное поле</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Ваш Email</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">Мэйл обязательное поле</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email некорректный</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Ваш телефон</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Телефон - обязательное поле</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Напишите что-нибудь..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Напишить что-нибудь...</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Сообщение - обязательное поле</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Спасибо! Скоро свяжемся с Вами!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <div>+1 (555) 123-4567</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Пословица -->

        <blockquote class="blockquote text-center mt-4">
            <hr class="divider" />
            <p class="mb-0 fst-italic">{{proverb}}</p>
            <footer class="blockquote-footer mt-2">Народная мудрость</footer>
        </blockquote>

        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2025 - Victory & Glory Company</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
